<div class="container" id="container">
  <div class="company">
    <div class="companyName">
      <h2>229605 Ontario Inc. dba STL</h2>
      <p>12698 Centerville Creek Rd,</p>
      <p>Caledon, ON, L7C 3A6, Canada</p>
      <p>psingh@stltruckline.com</p>
      <p>PH: (905) 951-6161</p>
      <p>Fax: </p>
    </div>
    <div class="companyLogo">
      <div></div>
      <h2>Payment Statement</h2>
    </div>
  </div>

  <div class="additionalInfo">
    <div class="payee">
      <h2>Pay To:</h2>
      <div style="margin-left: 30%;">
      <p>Brampton</p>
      <p>Tel: </p>
      <p>Fax: </p>
      <p>Email: happy.a15@icloud.com</p>
      </div>

      <p><span class="bold"> Note:</span> Amrinder- Pay Period Mar 16 to 31, 2021.</p>
    </div>

    <div class="info">
      <div style="text-align: right;">
        <p class="bold">Statement #: </p>
        <p class="bold">Reference #: </p>
        <p class="bold">Cheqie Ref #: </p>
        <p class="bold">Date: </p>
        <p class="bold">Pay Period: </p>
        <p class="bold">Amount: </p>
      </div>
      <div style="margin-left: 10px;">
        <p> 1351</p>
        <p> Mar 16 to 31, 2021</p>
        <p> 10020</p>
        <p> 04/16/2021</p>
        <p> 03/16/2021 to 03/31/2021</p>
        <p> 5282.20 CAD</p>
      </div>


    </div>
  </div>
  <div style="border-bottom: 2px solid black; width: 80%; margin: 0 auto;"></div>


  <table class="mainTable">
    <thead>
      <tr>
              <th>Trip #</th>
              <th>Hrs.</th>
              <th>Miles</th>
              <th>Rate</th>
              <th>E.Ms.</th>
              <th>EMR</th>
              <th>Per.</th>
              <th>Freight</th>
              <th>Add.</th>
              <th>Ded.</th>
              <th>Fed. Add</th>
              <th>Prov. Ded</th>
              <th>Paid Amount</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of data">
      <tr>
              <td>{{ item.trip.id }}</td>
              <td>{{ item.trip.hrs }}</td>

            </tr>
        <tr>
          <td>Stops:</td>
          <td>{{ item.stops[0] }}</td>
        </tr>
        <tr>
          <td>Driver:</td>
          <td>{{ item.driver.name }}</td>
        </tr>
        </tbody>
  </table>
  <div class="billing">
    <p style="margin-left: 30%;" class="bold">Add.s/deu.s Today by Type: </p>
    <table class="billingTable" style="margin-left: 55%;">
      <tbody>
        <tr>
          <td>Extra Delivery</td>
          <td>35.00</td>
          <td>0.00</td>
        </tr>
        <tr>
          <td>HST</td>
          <td>35.00</td>
          <td>0.00</td>
        </tr>
      </tbody>
    </table>
    <p class="bold" style="margin-left: 50%;">Payment Add.s/Dedu.s</p>
    <p class="bold" style="margin-left: 50%;">Additions</p>
    <p style="margin-left: 60%;">Waiting Time</p>

    <div class="bottomborder"></div>

    <h4 style="margin-left: 70%;">Total Addtns/Dedtns: </h4>
    <h3 style="margin-left: 70%;">Total Paid(CAD): </h3>

    <div class="hollowbox"></div>

  </div>

  <div class="signDate">
    <div class="signDateDiv">
        <h3>Signature:</h3>
        <div class="dashedLine"></div>
    </div>
    <div class="signDateDiv">
      <h3>Date:</h3>
      <div class="dashedLine"></div>
    </div>
  </div>
</div>

<button (click)="generatePDF()">Download PDF</button>
